.main-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.main-menu-title {
    font-size: 2.5em;
    color: #333;
}

.main-menu-subtitle {
    font-size: 1.2em;
    color: #666;
}
