.zjadanie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  border: 2px solid #333;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
}

.wall {
  background-color: #333;
}

.pacman {
  background-color: yellow;
  border-radius: 50%;
}

.dot {
  background-color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 10px;
}

.score {
    font-size: 24px;
    margin-bottom: 10px;
}
